@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url('chrome://browser/content/browser.xul') {
    #trimless-button {
        -moz-appearance: none !important;
        margin: 0 !important;
        margin-top: -2px !important;
        padding: 0 2px !important;
        border: 0 !important;
        background: transparent !important;
        height: auto !important;
    }

    #trimless-button[hidden='true'] {
        display: none !important;
    }

    #trimless-button > .toolbarbutton-icon {
        list-style-image: url('icon-action-19.png') !important;
        opacity: .8 !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
    }

    #trimless-button[disabled='true'] > .toolbarbutton-icon {
        list-style-image: url('icon-action-gray-19.png') !important;
    }

    #trimless-button:hover > .toolbarbutton-icon {
        opacity: 1 !important;
    }
}
